<div class="biglietti-container">
      <h2>Tutti i Biglietti</h2>
      <div *ngIf="biglietti.length>0">
        <div  *ngFor="let biglietto of biglietti">
          <div class="biglietto">
              <p><strong>Codice Biglietto:</strong> {{ biglietto.id }}</p>
              <p><strong>Film</strong> {{biglietto.postospettacoloSpettacoloFilmTitolo}}</p>
              <p><strong>Data</strong> {{ biglietto.postospettacoloSpettacoloData }} - {{formatTime(biglietto.postospettacoloSpettacoloOra)}}</p>
              <p><strong>Sala</strong> {{ biglietto.postospettacoloSpettacoloSalaId}}</p>
              <p><strong>Posto</strong> {{ biglietto.postospettacoloSedile }} - {{ biglietto.postospettacoloFila}}</p>
              <p><strong>Prezzo:</strong> {{ biglietto.prezzo| currency : 'EUR'}}</p>
          </div>
        

          <hr>
        </div>
    
        <div class="pagination">
          <button id="precedente" type="button" (click)="paginaPrecedente()" [disabled]="paginaCorrente === 0">Indietro</button>
          <span class="pagina-info">Pagina {{ paginaCorrente + 1 }} di {{ totalePagine }}</span>
          <button id="successivo" type="button" (click)="paginaSuccessiva()" [disabled]="paginaCorrente >= totalePagine - 1">Avanti</button>
        </div>
      </div>
      <div *ngIf="biglietti.length===0">
        <p>Non ci sono biglietti.</p>
      </div>
    </div>
    