.footer {
    background-color: #1c1c1c; /* Sfondo navbar */
    color: #ffffff;
    padding: 15px 0px;
    top: 0;
    width: 100%;
    z-index: 1000; /* Sovrapponi alla pagina */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }