<div class="admin-attori-container">
    <!-- Sezione Creazione -->
    <div class="section create-section">
      <h2>Crea Nuovo Attore</h2>
      <form (ngSubmit)="creaAttore()">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" [(ngModel)]="nuovoAttore.nome" name="nome" required />
  
        <label for="cognome">Cognome:</label>
        <input type="text" id="cognome" [(ngModel)]="nuovoAttore.cognome" name="cognome" required />
  
        <button id="crea" type="submit" class="create-button">Crea</button>
      </form>
    </div>
  
    <!-- Sezione Ricerca e Dettagli -->
    <div class="section search-section">
      <h2>Cerca Attore</h2>
      <input type="text" placeholder="Cerca attore per nome o cognome" [(ngModel)]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).termine" />
      <button id="cerca" type="button" (click)="searchTypeUtils.eseguiRicerca(SearchType.AttoreModifica)">Cerca</button>
      <button id="reset-ricerca" type="button" (click)="searchTypeUtils.resettaRicerca(SearchType.AttoreModifica)">Reset</button>
      
      <ul *ngIf="searchTypeUtils.getSearchData(SearchType.AttoreModifica).risultati.length > 0">
        <li *ngFor="let attore of searchTypeUtils.getSearchData(SearchType.AttoreModifica).risultati" (click)="selezionaAttore(attore)">
          > {{ attore.nome }} {{ attore.cognome }}
        </li>
      </ul>
      <!-- Sezione Paginazione -->
    <div class="pagination">
      <button id="precedente" type="button" (click)="searchTypeUtils.paginaPrecedente(SearchType.AttoreModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente === 0">Indietro</button>
      <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.AttoreModifica).totalePagine }}</span>
      <button id="successivo" type="button" (click)="searchTypeUtils.paginaSuccessiva(SearchType.AttoreModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.AttoreModifica).totalePagine - 1">Avanti</button>
    </div>
    
      <!-- Dettagli Attore Selezionato -->
<div *ngIf="attoreSelezionatoModificato" class="details-section">
    <h3>Dettagli Attore</h3>
    <label for="nome">Nome:</label>
    <input
      type="text"
      id="nome"
      [(ngModel)]="attoreSelezionatoModificato.nome"
      (input)="abilitaModifiche()"
    />
  
    <label for="cognome">Cognome:</label>
    <input
      type="text"
      id="cognome"
      [(ngModel)]="attoreSelezionatoModificato.cognome"
      (input)="abilitaModifiche()"
    />
  
    <button id="modifica" type="button" class="edit-button" [disabled]="!modificheAbilitate" (click)="modificaAttore()">
      Modifica
    </button>
    <button id="reset" type="button" class="cancel-button" [disabled]="!modificheAbilitate" (click)="annullaModifiche()">
      Annulla Modifica
    </button>
    <button id="elimina" type="button" class="delete-button" (click)="eliminaAttore()">
      Elimina
    </button>
  </div>
  
  </div>
</div>