<div class="admin-spettacolo-container">
  <!-- Sezione Creazione -->
  <div class="section create-section">
    <h2>Crea Nuovo Spettacolo</h2>
    <form>
      <label for="data">Data:</label>
      <input type="date" id="data" [(ngModel)]="nuovoSpettacolo.data" name="data" required />

      <label for="ora">Ora:</label>
      <input type="time" id="ora" [(ngModel)]="nuovoSpettacolo.ora" name="ora" required />

      <label for="prezzo">Prezzo:</label>
      <input type="number" id="prezzo" [(ngModel)]="nuovoSpettacolo.prezzo" name="prezzo" required />

      <label for="salaCreazione">Sala: {{nuovoSpettacolo.sala.id ? nuovoSpettacolo.sala.id : "" }}</label>

      <ul *ngIf="risultatiRicercaSalaCreazione.length > 0">
        <li *ngFor="let sala of risultatiRicercaSalaCreazione"
          (click)="selezionaElemento(sala, SearchType.SalaCreazione)">
          {{ sala.id }}
        </li>
      </ul>
      <!-- Sezione Paginazione -->
      <div class="pagination">
        <button type="button" (click)="paginaPrecedente(SearchType.SalaCreazione)"
          [disabled]="paginaCorrenteSalaCreazione === 0">Indietro</button>
        <span>Pagina {{ paginaCorrenteSalaCreazione + 1 }} di {{ totalePagineSalaCreazione }}</span>
        <button type="button" (click)="paginaSuccessiva(SearchType.SalaCreazione)"
          [disabled]="paginaCorrenteSalaCreazione >= totalePagineSalaCreazione - 1">Avanti</button>
      </div>
      <label for="FilmCreazione"> Film: {{nuovoSpettacolo.film.id ? nuovoSpettacolo.film.titolo + " - " +
        nuovoSpettacolo.film.datauscita : ""}}</label>
      <input type="text" placeholder="Cerca film per titolo" [(ngModel)]="termineRicercaFilmCreazione" name="film" />
      <button type="button" type="button" (click)="eseguiRicerca(SearchType.FilmCreazione)">Cerca</button>
      <button type="button" type="button" (click)="resettaRicerca(SearchType.FilmCreazione)">Reset</button>

      <ul *ngIf="risultatiRicercaFilmCreazione.length > 0">
        <li *ngFor="let film of risultatiRicercaFilmCreazione"
          (click)="selezionaElemento(film, SearchType.FilmCreazione)">
          {{ film.titolo }} - {{ film.datauscita }}
        </li>
      </ul>
      <!-- Sezione Paginazione -->
      <div class="pagination">
        <button type="button" (click)="paginaPrecedente(SearchType.FilmCreazione)"
          [disabled]="paginaCorrenteFilmCreazione === 0">Indietro</button>
        <span>Pagina {{ paginaCorrenteFilmCreazione + 1 }} di {{ totalePagineFilmCreazione }}</span>
        <button type="button" (click)="paginaSuccessiva(SearchType.FilmCreazione)"
          [disabled]="paginaCorrenteFilmCreazione >= totalePagineFilmCreazione - 1">Avanti</button>
      </div>

      <label for="acquistabile">Acquistabile:</label>
      <input type="checkbox" id="acquistabile" [(ngModel)]="nuovoSpettacolo.acquistabile" name="acquistabile" />

      <button type="submit" (click)="creaSpettacolo()"class="create-button">Crea</button>
    </form>
  </div>

  <!-- Sezione Ricerca e Dettagli -->
  <div class="section search-section">
    <h2>Cerca Spettacolo per data</h2>
    <input type="date" name="dataModifica" [(ngModel)]="termineRicercaSpettacoloModifica" />
    <button type="button" (click)="eseguiRicerca(SearchType.SpettacoloModifica)">Cerca</button>
    <button type="button" (click)="resettaRicerca(SearchType.SpettacoloModifica)">Reset</button>
    <ul *ngIf="risultatiRicercaSpettacolo.length > 0">
      <li *ngFor="let spettacolo of risultatiRicercaSpettacolo" (click)="selezionaSpettacolo(spettacolo);">
        > Spettacolo: {{ spettacolo.data }} - {{spettacolo.ora}} Film: {{ spettacolo.film.titolo }} - {{
        spettacolo.film.datauscita}}
      </li>
    </ul>
    <!-- Sezione Paginazione -->
    <div class="pagination">
      <button type="button" (click)="paginaPrecedente(SearchType.SpettacoloModifica)"
        [disabled]="paginaCorrenteSpettacoloModifica === 0">Indietro</button>
      <span>Pagina {{ paginaCorrenteSpettacoloModifica + 1 }} di {{ totalePagineSpettacoloModifica }}</span>
      <button type="button" (click)="paginaSuccessiva(SearchType.SpettacoloModifica)"
        [disabled]="paginaCorrenteSpettacoloModifica >= totalePagineSpettacoloModifica - 1">Avanti</button>
    </div>
    <!-- Dettagli Spettacolo Selezionato -->
    <div *ngIf="spettacoloSelezionatoModificato">
      <h3>Dettagli Spettacolo</h3>

      <label for="data">Data:</label>
      <input type="date" id="data" [(ngModel)]="spettacoloSelezionatoModificato.data" (input)="abilitaModifiche()" />

      <label for="ora">Ora:</label>
      <input type="time" id="ora" [(ngModel)]="spettacoloSelezionatoModificato.ora" (input)="abilitaModifiche()" />

      <label for="prezzo">Prezzo:</label>
      <input type="number" id="prezzo" [(ngModel)]="spettacoloSelezionatoModificato.prezzo"
        (input)="abilitaModifiche()" />

      <label for="salaId">Sala: {{spettacoloSelezionatoModificato.sala ? spettacoloSelezionatoModificato.sala.id :
        ""}}</label>
      <ul *ngIf="risultatiRicercaSalaModifica.length > 0">
        <li *ngFor="let sala of risultatiRicercaSalaModifica"
          (click)="selezionaElemento(sala, SearchType.SalaModifica); abilitaModifiche()">
          > {{ sala.id }}
        </li>
      </ul>
      <!-- Sezione Paginazione -->
      <div class="pagination">
        <button type="button" (click)="paginaPrecedente(SearchType.SalaModifica)"
          [disabled]="paginaCorrenteSalaModifica === 0">Indietro</button>
        <span>Pagina {{ paginaCorrenteSalaModifica + 1 }} di {{ totalePagineSalaModifica }}</span>
        <button type="button" (click)="paginaSuccessiva(SearchType.SalaModifica)"
          [disabled]="paginaCorrenteSalaModifica >= totalePagineSalaModifica - 1">Avanti</button>
      </div>
      <label for="film">Film: {{spettacoloSelezionatoModificato.film.id ? spettacoloSelezionatoModificato.film.titolo +
        " - " + spettacoloSelezionatoModificato.film.datauscita : ""}}</label>
      <input type="text" name="filmModifica" [(ngModel)]="termineRicercaFilmModifica" />
      <button type="button" (click)="eseguiRicerca(SearchType.FilmModifica)">Cerca</button>
      <button type="button" (click)="resettaRicerca(SearchType.FilmModifica)">Reset</button>

      <ul *ngIf="risultatiRicercaFilmModifica.length > 0">
        <li *ngFor="let film of risultatiRicercaFilmModifica"
          (click)="selezionaElemento(film, SearchType.FilmModifica); abilitaModifiche()">
          > {{ film.titolo }} - {{ film.datauscita }}
        </li>
      </ul>
      <!-- Sezione Paginazione -->
      <div class="pagination">
        <button type="button" (click)="paginaPrecedente(SearchType.FilmModifica)"
          [disabled]="paginaCorrenteFilmModifica === 0">Indietro</button>
        <span>Pagina {{ paginaCorrenteFilmModifica + 1 }} di {{ totalePagineFilmModifica }}</span>
        <button type="button" (click)="paginaSuccessiva(SearchType.FilmModifica)"
          [disabled]="paginaCorrenteFilmModifica >= totalePagineFilmModifica - 1">Avanti</button>
      </div>


      <label for="acquistabile">Acquistabile:</label>
      <input type="checkbox" id="acquistabile" [(ngModel)]="spettacoloSelezionatoModificato.acquistabile"
        (change)="abilitaModifiche()" />

      <button type="button" class="edit-button" [disabled]="!modificheAbilitate"
        (click)="modificaSpettacolo()">Modifica</button>
      <button type="button" class="cancel-button" [disabled]="!modificheAbilitate" (click)="annullaModifiche()">Annulla
        Modifica</button>
      <button type="button" class="delete-button" (click)="eliminaSpettacolo()">Elimina</button>
    </div>
  </div>
</div>