<div class="spettacoli-container">
    <div class="giorni-settimana">
      <ul class="giorni-lista">
        <li *ngFor="let giorno of giorniSettimana" 
            (click)="getSpettacoli(giorno.date)" 
            [class.selected]="giorno.date === dataSelezionata">
          {{ giorno.label }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="spettacoli.length === 0" class="no-spettacoli">
      <p>Nessuno spettacolo disponibile per la data selezionata.</p>
    </div>
  
    <div *ngFor="let spettacolo of spettacoli" class="spettacolo-card">
      <div class="film-poster">
        <img [src]="spettacolo.film.img" alt="{{ spettacolo.film.titolo }} poster" />
      </div>
      <div class="film-info">
        <h3>{{ spettacolo.film.titolo }}</h3>
        <p><strong>Genere:</strong> {{ spettacolo.film.generes[0]?.genere }}</p>
        <p><strong>Regia:</strong> {{ spettacolo.film.registas[0]?.nome }} {{ spettacolo.film.registas[0]?.cognome }}</p>
        <p><strong>Cast:</strong> 
          <span *ngFor="let attore of spettacolo.film.attores">{{ attore.nome }} {{ attore.cognome }}{{ attore !== spettacolo.film.attores[spettacolo.film.attores.length - 1] ? ', ' : ''}}</span>
        </p>
        <p><strong>Durata:</strong> {{ spettacolo.film.durata }} min</p>
        <div class="orari">
          <span *ngFor="let spettacoloOrario of spettacoli">
            {{ formatTime(spettacoloOrario.ora) }}
          </span>
        </div>
      </div>
    </div>
  </div>
  