<div class="spettacoli-container">
    <div class="giorni-settimana">
      <ul class="giorni-lista">
        <li *ngFor="let giorno of giorniSettimana" 
            (click)="selezionaGiorno(giorno.date)" 
            [class.selected]="giorno.date === dataSelezionata">
          {{ giorno.label }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="filmSpettacoli.length === 0" class="no-spettacoli">
      <p>Nessuno spettacolo disponibile per la data selezionata.</p>
    </div>
  
    <div *ngFor="let istanza of filmSpettacoli" class="spettacolo-card">
      <div class="film-poster">
        <img [src]="istanza.film.img" alt="{{ istanza.film.titolo }} poster" />
      </div>
      <div class="film-info">
        <h3>{{ istanza.film.titolo }}</h3>
        <p><strong>Genere:</strong> 
          {{ istanza.film.generes | join:['genere'] }}
        </p>
        <p><strong>Regia:</strong> 
          {{ istanza.film.registas | join:['nome', 'cognome'] }}
        </p>
        <p><strong>Cast:</strong> 
          {{ istanza.film.attores | join:['nome', 'cognome'] }}
        </p>
        <p><strong>Durata: </strong> {{ istanza.film.durata }} min</p>
        <div class="orari">
          <span *ngFor="let spettacolo of istanza.spettacoli" (click)="goToSelezionePosti(spettacolo.id)">
            {{ formatTime(spettacolo.ora) }}
          </span>
        </div>
      </div>
    </div>
  </div>
  