<div class="admin-utenti-container">
  <!-- Sezione Ricerca e Dettagli -->
  <div class="section search-section">
    <h2>Cerca Utente</h2>
    <input type="text" placeholder="Cerca utente per nome o username" [(ngModel)]="searchTypeUtils.getSearchData(SearchType.Utente).termine" />
    <button id="cerca" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.Utente)">Cerca</button>
    <button id="reset-ricerca" type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.Utente)">Reset</button>


    <ul *ngIf="searchTypeUtils.getSearchData(SearchType.Utente).risultati.length > 0">
      <p>Consigliati:</p>
      <li *ngFor="let utente of searchTypeUtils.getSearchData(SearchType.Utente).risultati" (click)="selezionaUtente(utente)">
        > {{ utente.username }} - {{ utente.firstName }} - {{ utente.lastName }}
      </li>
    </ul>
    <!-- Sezione Paginazione -->
    <div class="pagination">
      <button id="precedenteU"type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.Utente)" [disabled]="searchTypeUtils.getSearchData(SearchType.Utente).paginaCorrente === 0">Indietro</button>
      <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.Utente).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.Utente).totalePagine }}</span>
      <button id="successivoU"type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.Utente)" [disabled]="searchTypeUtils.getSearchData(SearchType.Utente).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.Utente).totalePagine - 1">Avanti</button>
    </div>
    <!-- Dettagli Utente Selezionato -->
  </div>
  <div class="section" *ngIf="utenteSelezionato">


    <div  class="details-section">
      <h3>Dettagli Utente</h3>
      <label for="username">Username:</label>
      <input type="text" id="username" readonly [(ngModel)]="utenteSelezionato.username" />

      <label for="nome">Nome:</label>
      <input type="text" id="nome" readonly [(ngModel)]="utenteSelezionato.firstName" />

      <label for="cognome">Cognome:</label>
      <input type="text" id="cognome" readonly [(ngModel)]="utenteSelezionato.lastName" />


      <label for="email">Email:</label>
      <input type="text" id="email" readonly [(ngModel)]="utenteSelezionato.email" />


      <!-- Sezione Biglietti -->
      <div class="biglietti-container">
        <h3>Biglietti dell'Utente</h3>
        <div *ngIf="searchData.biglietto?.risultati?.length!>0; else nessunBiglietto">
          <div *ngFor="let biglietto of searchData.biglietto?.risultati" class="biglietto">
            <!-- Dettagli biglietto -->
            <p><strong>Codice Biglietto:</strong> {{ biglietto.id }}</p>
            <p><strong>Film:</strong> {{ biglietto.postospettacoloSpettacoloFilmTitolo }}</p>
            <!-- Altri dettagli -->
          </div>
          <div class="pagination">
            <button id="precedenteB" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.Biglietto)" [disabled]="searchTypeUtils.getSearchData(SearchType.Biglietto).paginaCorrente === 0">Indietro</button>
            <span class="pagina-info">Pagina {{ searchTypeUtils.getSearchData(SearchType.Biglietto).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.Biglietto).totalePagine }}</span>
            <button id="successivoB"type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.Biglietto)"
              [disabled]="searchTypeUtils.getSearchData(SearchType.Biglietto).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.Biglietto).totalePagine - 1">Avanti</button>
          </div>
        </div>
        <ng-template #nessunBiglietto>
          <p>Non ci sono biglietti.</p>
        </ng-template>
      </div>

      <!-- Sezione Ordini -->
      <div class="ordini-container">
        <h3>Ordini dell'Utente</h3>
        <div *ngIf="searchData.ordine?.risultati?.length!>0; else nessunOrdine">
          <div *ngFor="let ordine of searchData.ordine?.risultati" class="ordine">
            <!-- Dettagli ordine -->
            <p><strong>Codice Ordine:</strong> {{ ordine.id }}</p>
            <p><strong>Data:</strong> {{ ordine.data | date: 'dd/MM/yyyy' }}</p>
            <!-- Altri dettagli -->
          </div>
          <div class="pagination">
            <button id="precedenteO" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.Ordine)" [disabled]="searchTypeUtils.getSearchData(SearchType.Ordine).paginaCorrente === 0">Indietro</button>
            <span class="pagina-info">Pagina {{ searchTypeUtils.getSearchData(SearchType.Ordine).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.Ordine).totalePagine }}</span>
            <button id="successivoO"type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.Ordine)"
              [disabled]="searchTypeUtils.getSearchData(SearchType.Ordine).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.Ordine).totalePagine - 1">Avanti</button>
          </div>
        </div>
        <ng-template #nessunOrdine>
          <p>Non ci sono ordini.</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
