.scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #f5c518 url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    color: #1c1c1c; /* Colore scuro per il testo del pulsante */
    border: none;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .scroll-top-button:hover {
    background-color: #ffda44; /* Effetto hover più chiaro */
  }
  
  .scroll-top-button:focus {
    outline: none;
  }
  