<div class="utente-container">
    <h2>Informazioni Utente</h2>
    
    <div class="info-container">
      
        <p><strong>Nome:</strong> {{ utente.firstName }}</p>
        <p><strong>Cognome:</strong> {{ utente.lastName }}</p>
        <p><strong>Username:</strong> {{ utente.username }}</p> <!-- Nuovo campo username -->
        <p><strong>email:</strong> {{ utente.email }}</p>
        <button id="modificaInfo" type="button" (click)="modificaInfo()">Modifica Info</button>
      
    </div>
  
    <h3>Biglietti utilizzabili oggi </h3><a class="mostra-tutti" routerLink="/utente/biglietti">Mostra tutti i biglietti</a>
    <div class="biglietti-sezione" *ngIf="biglietti.length>0">
      <div *ngFor="let biglietto of biglietti">
        <p><strong>Codice Biglietto:</strong> {{ biglietto.id }}</p>
        <p><strong>Film</strong> {{biglietto.postospettacoloSpettacoloFilmTitolo}}</p>
        <p><strong>Data</strong> {{ biglietto.postospettacoloSpettacoloData }} - {{ formatTime(biglietto.postospettacoloSpettacoloOra)}}</p>
        <p><strong>Sala</strong> {{ biglietto.postospettacoloSpettacoloSalaId}}</p>
        <p><strong>Posto</strong> {{ biglietto.postospettacoloSedile }} - {{ biglietto.postospettacoloFila}}</p>
        <p><strong>Prezzo:</strong> {{ biglietto.prezzo| currency : 'EUR'}}</p>
        <hr>
      </div>
    </div>
    <div class="biglietti-sezione" *ngIf="biglietti.length===0">
      <p>Non ci sono biglietti per oggi.</p>
    </div>
    <h3>Ultimi 10 Ordini </h3> <a class="mostra-tutti" routerLink="/utente/ordini">Mostra tutti ordini</a>
    <div class="ordini-sezione" *ngIf="ordini.length>0">
      <div *ngFor="let ordine of ordini">
        <p><strong>Codice Ordine:</strong> {{ ordine.id }}</p>
        <p><strong>Prezzo:</strong> {{ ordine.totale | currency:"€" }}</p>
        <p><strong>Stato:</strong> {{ ordine.stato }}</p>
        <p><strong>Data:</strong> {{ ordine.data }}</p>
        <p><strong>Biglietti:</strong> </p>
          <ul>
            <li *ngFor="let biglietto of ordine.bigliettos">
              {{bigliettoToString(biglietto)}}
            </li>
          </ul>
        <hr>
      </div>
    </div>
    <div class="ordini-sezione" *ngIf="ordini.length===0">
      <p>Non ci sono ordini.</p>
    </div>
  </div>
  