

<div class="container">
  <!-- Schermo -->
  <div class="screen">
    SCHERMO
  </div>
  
  <!-- Layout posti -->
  
    <div class="fila-container" *ngFor="let fila of postiPerFilaUtilsMiei.getFile()">
      <div class="fila-etichetta">{{ fila }}</div>
      <div class="posti">
        <div class="posto" [ngClass]="posto.stato"
        [class.selezionato]="isPostoSelezionato(fila, posto)" (click)="selezionaPosto(fila, posto)" *ngFor="let posto of postiPerFilaUtilsMiei.getPostiPerFila(fila)">
          {{ posto.postoSedile}}
        </div>
      </div>
    </div>
  
</div>

  <div class="posti-selezionati">
    <h3>Posti Selezionati</h3>
    <button type="button" (click)="prenota()">prenota</button>
    <div *ngFor="let posto of postiSelezionati">
      {{ posto}}
    </div>
  </div>
