<div class="admin-blocca-container">
  <div class="section search-section">
    <h2>Cerca Spettacolo per data</h2>
    <input type="date" name="dataModifica" [(ngModel)]="termineRicercaSpettacoloModifica" />
    <button type="button" (click)="eseguiRicerca()">Cerca</button>
    <button type="button" (click)="resettaRicerca()">Reset</button>
    <ul *ngIf="risultatiRicercaSpettacolo.length > 0">
      <li *ngFor="let spettacolo of risultatiRicercaSpettacolo" (click)="selezionaSpettacolo(spettacolo);">
        > Spettacolo: {{ spettacolo.data }} - {{spettacolo.ora}} Film: {{ spettacolo.film.titolo }} - {{
        spettacolo.film.datauscita}}
      </li>
    </ul>
    <!-- Sezione Paginazione -->
    <div class="pagination">
      <button type="button" (click)="paginaPrecedente()"
        [disabled]="paginaCorrenteSpettacoloModifica === 0">Indietro</button>
      <span>Pagina {{ paginaCorrenteSpettacoloModifica + 1 }} di {{ totalePagineSpettacoloModifica }}</span>
      <button type="button" (click)="paginaSuccessiva()"
        [disabled]="paginaCorrenteSpettacoloModifica >= totalePagineSpettacoloModifica - 1">Avanti</button>
    </div>
  </div>

  <div class="container">
    <!-- Schermo -->
    <div class="screen">
      SCHERMO
    </div>
    
    <!-- Layout posti -->
    
      <div class="fila-container" *ngFor="let fila of formattafile(posti!)">
        <div class="fila-etichetta">{{ fila }}</div>
        <div class="posti">
          <div class="posto" [ngClass]="posto.stato"
          [class.selezionato]="isPostoSelezionato(posto)" (click)="selezionaPosto(posto)" *ngFor="let posto of posti?.get(fila)">
            {{ posto.postoSedileId }}
          </div>
        </div>
      </div>
    
  </div>

  <div class="conferma">
    
    <button type="button" (click)="blocca()">blocca</button>

  </div>


  
</div>