/* Sfondo esterno per tutta la pagina */
body {
    background-color: #121212; /* Grigio antracite scuro */
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Container principale */
  .main-content {
    
    background-color: #000;
    color: #fff;
    
    width: 80%;
    margin: auto;
  }
  
 