<div class="admin-sala-container">
  <div class="section">
    <h2>Crea Nuova Sala</h2>
  <div class="provo">
    <!-- Colonna per la lista delle file -->
    <div class="fila-list-container">
        <div class="fila-container" *ngFor="let posto of  nuovaSala.postis.slice().reverse()">
          <span class="etichetta-fila">{{ posto.fila }}</span>
          <button id="aggiungiPosto" type="button" (click)="aggiungiPosto(posto.fila)" class="posto-add">+</button>
          <button id="rimuoviPosto" (click)="rimuoviPosto(posto.fila)" class="posto-remove">-</button>
        </div>
      </div>
    
    <!-- Colonna per la disposizione dei posti della sala -->
    <div class="posti-container">
      <div class="selezione-posti">
        <div class="schermo">
          <span>Schermo</span>
        </div>
        <div class="fila-posti-container" *ngFor="let fila of nuovaSala.postis.slice().reverse()">
          <div class="fila">
            <div class="posto" *ngFor="let n of [].constructor(fila.sedili); let i=index">
              <span>{{ i+1 }}</span>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- Pulsanti per aggiungere/rimuovere file -->
      <div class="fila-buttons">
        <button id="aggiungiFila" type="button" (click)="aggiungiFila()" class="fila-add">+ Fila</button>
        <button id="rimuoviFila" type="button" (click)="rimuoviFila()" class="fila-remove">- Fila</button>
      </div>
    </div>
  </div>
  <button id="crea" type="button" (click)="creaSala()">Crea</button>
</div>
<div class="section">
  <h2>Modifica Sala: <span *ngIf="salaSelezionata">{{salaSelezionata.id}} </span></h2>
  <!-- Loading indicator -->

  <ul *ngIf="searchTypeUtils.getSearchData(SearchType.SalaModifica).risultati.length > 0">
    <li *ngFor="let sala of searchTypeUtils.getSearchData(SearchType.SalaModifica).risultati" (click)="selezionaSala(sala)">
      > {{ sala.id }} 
    </li>
  </ul>
          <!-- Sezione Paginazione -->
  <div class="pagination">
    <button id="precedente" type="button" (click)="searchTypeUtils.paginaPrecedente(SearchType.SalaModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.SalaModifica).paginaCorrente === 0">Indietro</button>
    <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.SalaModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.SalaModifica).totalePagine }}</span>
    <button id="successivo" type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.SalaModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.SalaModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.SalaModifica).totalePagine - 1">Avanti</button>
  </div>
  <div class="provo">
    <!-- Colonna per la lista delle file -->
    <div class="fila-list-container" *ngIf="salaSelezionataModificata">
        <div class="fila-container" *ngFor="let posto of  salaSelezionataModificata.postis.slice().reverse()">
          <span class="etichetta-fila">{{ posto.fila }}</span>
          <button id="aggiungiPostoModifica" type="button" (click)="aggiungiPostoModifica(posto.fila)" class="posto-add">+</button>
          <button id="rimuoviPostoModifica" type="button" (click)="rimuoviPostoModifica(posto.fila)" class="posto-remove">-</button>
        </div>
      </div>
    
    <!-- Colonna per la disposizione dei posti della sala -->
    <div class="posti-container" *ngIf="salaSelezionataModificata">
      <div class="selezione-posti">
        <div class="schermo">
          <span>Schermo</span>
        </div>
        <div class="fila-posti-container" *ngFor="let fila of salaSelezionataModificata.postis.slice().reverse()">
          <div class="fila">
            <div class="posto" *ngFor="let n of [].constructor(fila.sedili); let i=index">
              <span>{{ i+1 }}</span>
            </div>
            
          </div>
        </div>
      </div>
      
      <!-- Pulsanti per aggiungere/rimuovere file -->
      <div class="fila-buttons">
        <button id="aggiungiFilaModifica" type="button" (click)="aggiungiFilaModifica()" class="fila-add">+ Fila</button>
        <button id="rimuoviFilaModifica" type="button" (click)="rimuoviFilaModifica()" class="fila-remove">- Fila</button>
      </div>
    </div>
  </div>
  <button class="edit-button" id="modifica" 
  type="submit"
        [disabled]="!modificheAbilitate" 
        (click)="modificaSala()">
  Modifica
</button>
<button class="cancel-button" id="reset"
type="button"
        [disabled]="!modificheAbilitate" 
        (click)="annullaModifiche()">
  Annulla Modifica
</button>
<button typeclass="delete-button" id="elimina"
type="button"
        (click)="eliminaSala()">
  Elimina
</button>
</div>
  </div>
  