<div class="admin-film-container">
  <!-- Sezione Creazione -->
  <div class="section create-section">
    <h2>Crea Nuovo Film</h2>
    <form (ngSubmit)="creaFilm()">
      <label for="titolo">Titolo:</label>
      <input type="text" id="titolo" [(ngModel)]="nuovoFilm.titolo" name="titolo" required />

      <label for="durata">Durata (min):</label>
      <input type="number" id="durata" [(ngModel)]="nuovoFilm.durata" name="durata" required />

      <label for="trama">Trama:</label>
      <textarea id="trama" [(ngModel)]="nuovoFilm.trama" name="trama" required rows="4"></textarea>

      <label for="img">URL Immagine:</label>
      <input type="text" id="img" [(ngModel)]="nuovoFilm.img" name="img" required />

      <label for="datauscita">Data di Uscita:</label>
      <input type="date" id="datauscita" 
             [(ngModel)]="nuovoFilm.datauscita" 
             name="datauscita" 
             required />

      <!-- Sezione Attori -->
      <div class="form-group">
        <label for="filmActors">Attori:</label>
        <input type="text" 
               placeholder="Cerca attore per nome o cognome" 
               [(ngModel)]="termineRicercaAttoreCreazione" 
               name="filmActors" />
               <button (click)="eseguiRicerca(SearchType.AttoreCreazione)">Cerca</button>
               <button (click)="resettaRicerca(SearchType.AttoreCreazione)">Reset</button>

        
        <ul *ngIf="risultatiRicercaAttoriCreazione.length > 0">
          <li *ngFor="let actor of risultatiRicercaAttoriCreazione" 
              (click)="aggiungiElemento(actor, SearchType.AttoreCreazione)">
              {{ actor.nome }} {{ actor.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.AttoreCreazione)" [disabled]="paginaCorrenteAttoriCreazione === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteAttoriCreazione + 1 }} di {{ totalePagineAttoriCreazione }}</span>
          <button (click)="paginaSuccessiva(SearchType.AttoreCreazione)" [disabled]="paginaCorrenteAttoriCreazione >= totalePagineAttoriCreazione - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let actor of nuovoFilm.attores">
            <button type="button" (click)="rimuoviElemento(actor, SearchType.AttoreCreazione)">
              {{ actor.nome }} {{ actor.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Registi -->
      <div class="form-group">
        <label for="filmRegisti">Registi:</label>
        <input type="text" 
               placeholder="Cerca regista per nome o cognome" 
               [(ngModel)]="termineRicercaRegistaCreazione" 
               name="filmRegisti" />
        <button (click)="eseguiRicerca(SearchType.RegistaCreazione)">Cerca</button>
        <button (click)="resettaRicerca(SearchType.RegistaCreazione)">Reset</button>
        
        <ul *ngIf="risultatiRicercaRegistiCreazione.length > 0">
          <li *ngFor="let regista of risultatiRicercaRegistiCreazione" 
              (click)="aggiungiElemento(regista, SearchType.RegistaCreazione)">
              {{ regista.nome }} {{ regista.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.RegistaCreazione)" [disabled]="paginaCorrenteRegistiCreazione === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteRegistiCreazione + 1 }} di {{ totalePagineRegistiCreazione }}</span>
          <button (click)="paginaSuccessiva(SearchType.RegistaCreazione)" [disabled]="paginaCorrenteRegistiCreazione >= totalePagineRegistiCreazione - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let regista of nuovoFilm.registas">
            <button type="button" (click)="rimuoviElemento(regista, SearchType.RegistaCreazione)">
              {{ regista.nome }} {{ regista.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Generi -->
      <div class="form-group">
        <label for="filmGenres">Generi:</label>
        <input type="text" 
               placeholder="Cerca genere" 
               [(ngModel)]="termineRicercaGenereCreazione" 
               name="filmGenres" />
        <button (click)="eseguiRicerca(SearchType.GenereCreazione)">Cerca</button>
        <button (click)="resettaRicerca(SearchType.GenereCreazione)">Reset</button>

        <ul *ngIf="risultatiRicercaGeneriCreazione.length > 0">
          <li *ngFor="let genre of risultatiRicercaGeneriCreazione" 
              (click)="aggiungiElemento(genre, SearchType.GenereCreazione)">
              {{ genre.genere }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.GenereCreazione)" [disabled]="paginaCorrenteGeneriCreazione === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteGeneriCreazione + 1 }} di {{ totalePagineGeneriCreazione }}</span>
          <button (click)="paginaSuccessiva(SearchType.GenereCreazione)" [disabled]="paginaCorrenteGeneriCreazione >= totalePagineGeneriCreazione - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let genre of nuovoFilm.generes">
            <button type="button" (click)="rimuoviElemento(genre, SearchType.GenereCreazione)">
              {{ genre.genere }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <button type="submit" class="create-button">Crea</button>
    </form>
  </div>

  <!-- Sezione Modifica -->
  <div class="section edit-section">
    <h2>Modifica Film Esistente</h2>
  
    <!-- Ricerca film -->
    <label for="searchFilm">Cerca Film:</label>
    <input type="text" 
           name="searchFilm" 
           placeholder="Cerca film per titolo" 
           [(ngModel)]="termineRicercaFilm" />
    <button (click)="eseguiRicerca(SearchType.FilmModifica)">Cerca</button>
    <button (click)="resettaRicerca(SearchType.FilmModifica)">Reset</button>
    
    <ul *ngIf="risultatiRicercaFilm.length > 0">
      <li *ngFor="let film of risultatiRicercaFilm" 
          (click)="selezionaFilm(film)">
          {{ film.titolo }}
      </li>
    </ul>
    <!-- Sezione Paginazione -->
    <div class="pagination">
      <button (click)="paginaPrecedente(SearchType.FilmModifica)" [disabled]="paginaCorrenteFilm === 0">Indietro</button>
      <span>Pagina {{ paginaCorrenteFilm + 1 }} di {{ totalePagineFilm }}</span>
      <button (click)="paginaSuccessiva(SearchType.FilmModifica)" [disabled]="paginaCorrenteFilm >= totalePagineFilm - 1">Avanti</button>
    </div>
  
    <!-- Form di modifica -->
    <form *ngIf="filmSelezionatoModificato" (ngSubmit)="modificaFilm()">
      <label for="editTitolo">Titolo:</label>
      <input type="text" 
             id="editTitolo" 
             [(ngModel)]="filmSelezionatoModificato.titolo" 
             name="editTitolo" 
             required (input)="abilitaModifiche()" />
  
      <label for="editDurata">Durata (min):</label>
      <input type="number" 
             id="editDurata" 
             [(ngModel)]="filmSelezionatoModificato.durata" 
             name="editDurata" 
             required />
  
      <label for="trama">Trama:</label>
      <textarea id="trama" [(ngModel)]="filmSelezionatoModificato.trama" name="trama" required rows="4" (input)="abilitaModifiche()"></textarea>

      <label for="img">URL Immagine:</label>
      <input type="text" id="img" [(ngModel)]="filmSelezionatoModificato.img" name="img" required (input)="abilitaModifiche()"/>

      <label for="datauscita">Data di Uscita:</label>
      <input type="date" id="datauscita" 
            [(ngModel)]="filmSelezionatoModificato.datauscita" 
            name="datauscita" (input)="abilitaModifiche()"
            required />
      
      <!-- Sezione Attori Modifica -->
      <div class="form-group">
        <label for="editActors">Attori:</label>
        <input type="text" 
               name="editActors" 
               placeholder="Cerca attore per nome o cognome" 
               [(ngModel)]="termineRicercaAttoreModifica" />
        <button (click)="eseguiRicerca(SearchType.AttoreModifica)">Cerca</button>
        <button (click)="resettaRicerca(SearchType.AttoreModifica)">Reset</button>
        
        <ul *ngIf="risultatiRicercaAttoriModifica.length > 0">
          <li *ngFor="let actor of risultatiRicercaAttoriModifica" 
              (click)="aggiungiElemento(actor, SearchType.AttoreModifica); abilitaModifiche()">
              {{ actor.nome }} {{ actor.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.AttoreModifica)" [disabled]="paginaCorrenteAttoriModifica === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteAttoriModifica + 1 }} di {{ totalePagineAttoriModifica }}</span>
          <button (click)="paginaSuccessiva(SearchType.AttoreModifica)" [disabled]="paginaCorrenteAttoriModifica >= totalePagineAttoriModifica - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let actor of filmSelezionatoModificato.attores">
            <button type="button" (click)="rimuoviElemento(actor, SearchType.AttoreModifica); abilitaModifiche()">
              {{ actor.nome }} {{ actor.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Registi Modifica -->
      <div class="form-group">
        <label for="editRegisti">Registi:</label>
        <input type="text" 
               name="editRegisti" 
               placeholder="Cerca regista per nome o cognome" 
               [(ngModel)]="termineRicercaRegistaModifica" />
        <button (click)="eseguiRicerca(SearchType.RegistaModifica)">Cerca</button>
        <button (click)="resettaRicerca(SearchType.RegistaModifica)">Reset</button>
        
        <ul *ngIf="risultatiRicercaRegistiModifica.length > 0">
          <li *ngFor="let regista of risultatiRicercaRegistiModifica" 
              (click)="aggiungiElemento(regista, SearchType.RegistaModifica); abilitaModifiche()">
              {{ regista.nome }} {{ regista.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.RegistaModifica)" [disabled]="paginaCorrenteRegistiModifica === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteRegistiModifica + 1 }} di {{ totalePagineRegistiModifica }}</span>
          <button (click)="paginaSuccessiva(SearchType.RegistaModifica)" [disabled]="paginaCorrenteRegistiModifica >= totalePagineRegistiModifica - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let regista of filmSelezionatoModificato.registas">
            <button type="button" (click)="rimuoviElemento(regista, SearchType.RegistaModifica); abilitaModifiche()">
              {{ regista.nome }} {{ regista.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>
  
      <!-- Sezione Generi Modifica -->
      <div class="form-group">
        <label for="editGenres">Generi:</label>
        <input type="text" 
               name="editGenres" 
               placeholder="Cerca genere" 
               [(ngModel)]="termineRicercaGenereModifica" />
        <button (click)="eseguiRicerca(SearchType.GenereModifica)">Cerca</button>
        <button (click)="resettaRicerca(SearchType.GenereModifica)">Reset</button>
        
        <ul *ngIf="risultatiRicercaGeneriModifica.length > 0">
          <li *ngFor="let genre of risultatiRicercaGeneriModifica" 
              (click)="aggiungiElemento(genre, SearchType.GenereModifica); abilitaModifiche()">
              {{ genre.genere }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button (click)="paginaPrecedente(SearchType.GenereModifica)" [disabled]="paginaCorrenteGeneriModifica === 0">Indietro</button>
          <span>Pagina {{ paginaCorrenteGeneriModifica + 1 }} di {{ totalePagineGeneriModifica }}</span>
          <button (click)="paginaSuccessiva(SearchType.GenereModifica)" [disabled]="paginaCorrenteGeneriModifica >= totalePagineGeneriModifica - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let genre of filmSelezionatoModificato.generes">
            <button type="button" (click)="rimuoviElemento(genre, SearchType.GenereModifica); abilitaModifiche()" >
              {{ genre.genere }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <button class="edit-button" 
        type="submit"
              [disabled]="!modificheAbilitate" 
              (click)="modificaFilm()">
        Modifica
      </button>
      <button class="cancel-button" 
      type="button"
              [disabled]="!modificheAbilitate" 
              (click)="annullaModifiche()">
        Annulla Modifica
      </button>
      <button typeclass="delete-button" 
      type="button"
              (click)="eliminaFilm()">
        Elimina
      </button>
    </form>
  </div>
</div>