<div class="admin-film-container">
  <!-- Sezione Creazione -->
  <div class="section create-section">
    <h2>Crea Nuovo Film</h2>
    <form (ngSubmit)="creaFilm()">
      <label for="titolo">Titolo:</label>
      <input type="text" id="titolo" [(ngModel)]="nuovoFilm.titolo" name="titolo" required />

      <label for="durata">Durata (min):</label>
      <input type="number" id="durata" [(ngModel)]="nuovoFilm.durata" name="durata" required />

      <label for="trama">Trama:</label>
      <textarea id="trama" [(ngModel)]="nuovoFilm.trama" name="trama" required rows="4"></textarea>

      <label for="img">URL Immagine:</label>
      <input type="text" id="img" [(ngModel)]="nuovoFilm.img" name="img" required />

      <label for="datauscita">Data di Uscita:</label>
      <input type="date" id="datauscita" 
             [(ngModel)]="nuovoFilm.datauscita" 
             name="datauscita" 
             required />

      <!-- Sezione Attori -->
      <div class="form-group">
        <label for="filmActors">Attori:</label>
        <input type="text" 
               placeholder="Cerca attore per nome o cognome" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.AttoreCreazione).termine" 
               name="filmActors" />
               <button type="button" id="cerca" (click)="searchTypeUtils.eseguiRicerca(SearchType.AttoreCreazione)">Cerca</button>
               <button type="button" id="reset-cerca" (click)="searchTypeUtils.resettaRicerca(SearchType.AttoreCreazione)">Reset</button>

        
        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.AttoreCreazione).risultati.length > 0">
          <li *ngFor="let actor of searchTypeUtils.getSearchData(SearchType.AttoreCreazione).risultati" 
              (click)="aggiungiElemento(actor, SearchType.AttoreCreazione)">
              {{ actor.nome }} {{ actor.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button type="button" id="precedente-attoreC"(click)="searchTypeUtils.paginaPrecedente(SearchType.AttoreCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreCreazione).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.AttoreCreazione).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.AttoreCreazione).totalePagine }}</span>
          <button type="button" id="successivo-attoreC"(click)="searchTypeUtils.paginaSuccessiva(SearchType.AttoreCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreCreazione).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.AttoreCreazione).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let actor of nuovoFilm.attores">
            <button id="rimuovi-attoreC"type="button"(click)="rimuoviElemento(actor, SearchType.AttoreCreazione)">
              {{ actor.nome }} {{ actor.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Registi -->
      <div class="form-group">
        <label for="filmRegisti">Registi:</label>
        <input type="text" 
               placeholder="Cerca regista per nome o cognome" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).termine" 
               name="filmRegisti" />
        <button id="cerca-registaC" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.RegistaCreazione)">Cerca</button>
        <button id="reset-registaC" type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.RegistaCreazione)">Reset</button>
        
        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).risultati.length > 0">
          <li *ngFor="let regista of searchTypeUtils.getSearchData(SearchType.RegistaCreazione).risultati" 
              (click)="aggiungiElemento(regista, SearchType.RegistaCreazione)">
              {{ regista.nome }} {{ regista.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button  id="precdente-registaC" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.RegistaCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.RegistaCreazione).totalePagine }}</span>
          <button  id="successivo-registaC" type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.RegistaCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.RegistaCreazione).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let regista of nuovoFilm.registas">
            <button  id="rimuovi-registaC" type="button"(click)="rimuoviElemento(regista, SearchType.RegistaCreazione)">
              {{ regista.nome }} {{ regista.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Generi -->
      <div class="form-group">
        <label for="filmGenres">Generi:</label>
        <input type="text" 
               placeholder="Cerca genere" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.GenereCreazione).termine" 
               name="filmGenres" />
        <button id="cerca-genereC"  type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.GenereCreazione)">Cerca</button>
        <button id="reset-genereC" type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.GenereCreazione)">Reset</button>

        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.GenereCreazione).risultati.length > 0">
          <li *ngFor="let genre of searchTypeUtils.getSearchData(SearchType.GenereCreazione).risultati" 
              (click)="aggiungiElemento(genre, SearchType.GenereCreazione)">
              {{ genre.genere }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button id="precedente-genereC"type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.GenereCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.GenereCreazione).totalePagine }}</span>
          <button id="successivo-genereC" type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.GenereCreazione)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaCreazione).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.GenereCreazione).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let genre of nuovoFilm.generes">
            <button id="rimuovi-genereC" type="button"(click)="rimuoviElemento(genre, SearchType.GenereCreazione)">
              {{ genre.genere }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <button id="crea" type="button"type="submit" class="create-button">Crea</button>
    </form>
  </div>

  <!-- Sezione Modifica -->
  <div class="section edit-section">
    <h2>Modifica Film Esistente</h2>
  
    <!-- Ricerca film -->
    <label for="searchFilm">Cerca Film:</label>
    <input type="text" 
           name="searchFilm" 
           placeholder="Cerca film per titolo" 
           [(ngModel)]="searchTypeUtils.getSearchData(SearchType.FilmModifica).termine" />
    <button id="cerca-filmM" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.FilmModifica)">Cerca</button>
    <button id="reset-filmM"  type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.FilmModifica)">Reset</button>
    
    <ul *ngIf="searchTypeUtils.getSearchData(SearchType.FilmModifica).risultati.length > 0">
      <li *ngFor="let film of searchTypeUtils.getSearchData(SearchType.FilmModifica).risultati" 
          (click)="selezionaFilm(film)">
          {{ film.titolo }}
      </li>
    </ul>
    <!-- Sezione Paginazione -->
    <div class="pagination">
      <button id="precedente-filmM" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.FilmModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.FilmModifica).paginaCorrente === 0">Indietro</button>
      <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.FilmModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.FilmModifica).totalePagine }}</span>
      <button id="successivo-filmM" type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.FilmModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.FilmModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.FilmModifica).totalePagine - 1">Avanti</button>
    </div>
  
    <!-- Form di modifica -->
    <form *ngIf="filmSelezionatoModificato" (ngSubmit)="modificaFilm()">
      <span *ngIf="esisteInUnoSpettacoloDaProiettare===true" class="mini-avviso-proiezione">Attenzione! Questo film è occupato in uno spettacolo che deve ancora avvenire!</span>
      <label for="editTitolo">Titolo:</label>
      <input type="text" 
             id="editTitolo" 
             [(ngModel)]="filmSelezionatoModificato.titolo" 
             name="editTitolo" 
             required (input)="abilitaModifiche()" />
  
      <label for="editDurata">Durata (min):</label>
      <input type="number" 
             id="editDurata" 
             [(ngModel)]="filmSelezionatoModificato.durata" 
             name="editDurata" 
             (input)="abilitaModifiche()"
             required />
  
      <label for="trama">Trama:</label>
      <textarea id="trama" [(ngModel)]="filmSelezionatoModificato.trama" name="trama" required rows="4" (input)="abilitaModifiche()"></textarea>

      <label for="img">URL Immagine:</label>
      <input type="text" id="img" [(ngModel)]="filmSelezionatoModificato.img" name="img" required (input)="abilitaModifiche()"/>

      <label for="datauscita">Data di Uscita:</label>
      <input type="date" id="datauscita" 
            [(ngModel)]="filmSelezionatoModificato.datauscita" 
            name="datauscita" (input)="abilitaModifiche()"
            required />
      
      <!-- Sezione Attori Modifica -->
      <div class="form-group">
        <label for="editActors">Attori:</label>
        <input type="text" 
               name="editActors" 
               placeholder="Cerca attore per nome o cognome" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).termine" />
        <button id="cerca-attoreM" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.AttoreModifica)">Cerca</button>
        <button id="reset-attoreM" type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.AttoreModifica)">Reset</button>
        
        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.AttoreModifica).risultati.length > 0">
          <li *ngFor="let actor of searchTypeUtils.getSearchData(SearchType.AttoreModifica).risultati" 
              (click)="aggiungiElemento(actor, SearchType.AttoreModifica); abilitaModifiche()">
              {{ actor.nome }} {{ actor.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button id="precedente-attoreM" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.AttoreModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.AttoreModifica).totalePagine }}</span>
          <button id="successivo-attoreM" type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.AttoreModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.AttoreModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.AttoreModifica).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let actor of filmSelezionatoModificato.attores">
            <button id="rimuovi-attoreM" type="button"(click)="rimuoviElemento(actor, SearchType.AttoreModifica); abilitaModifiche()">
              {{ actor.nome }} {{ actor.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <!-- Sezione Registi Modifica -->
      <div class="form-group">
        <label for="editRegisti">Registi:</label>
        <input type="text" 
               name="editRegisti" 
               placeholder="Cerca regista per nome o cognome" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.RegistaModifica).termine" />
        <button id="cerca-registaM" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.RegistaModifica)">Cerca</button>
        <button id="reset-registaM" type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.RegistaModifica)">Reset</button>
        
        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.RegistaModifica).risultati.length > 0">
          <li *ngFor="let regista of searchTypeUtils.getSearchData(SearchType.RegistaModifica).risultati" 
              (click)="aggiungiElemento(regista, SearchType.RegistaModifica); abilitaModifiche()">
              {{ regista.nome }} {{ regista.cognome }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button id="precedente-registaM" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.RegistaModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaModifica).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.RegistaModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.RegistaModifica).totalePagine }}</span>
          <button id="successivo-registaM"  type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.RegistaModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.RegistaModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.RegistaModifica).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let regista of filmSelezionatoModificato.registas">
            <button id="rimuovi-registaM" type="button"(click)="rimuoviElemento(regista, SearchType.RegistaModifica); abilitaModifiche()">
              {{ regista.nome }} {{ regista.cognome }} <b>X</b>
            </button>
          </span>
        </div>
      </div>
  
      <!-- Sezione Generi Modifica -->
      <div class="form-group">
        <label for="editGenres">Generi:</label>
        <input type="text" 
               name="editGenres" 
               placeholder="Cerca genere" 
               [(ngModel)]="searchTypeUtils.getSearchData(SearchType.GenereModifica).termine" />
        <button id="cerca-genereM" type="button"(click)="searchTypeUtils.eseguiRicerca(SearchType.GenereModifica)">Cerca</button>
        <button id="reset-genereM"type="button"(click)="searchTypeUtils.resettaRicerca(SearchType.GenereModifica)">Reset</button>
        
        <ul *ngIf="searchTypeUtils.getSearchData(SearchType.GenereModifica).risultati.length > 0">
          <li *ngFor="let genre of searchTypeUtils.getSearchData(SearchType.GenereModifica).risultati" 
              (click)="aggiungiElemento(genre, SearchType.GenereModifica); abilitaModifiche()">
              {{ genre.genere }}
          </li>
        </ul>
        <!-- Sezione Paginazione -->
        <div class="pagination">
          <button id="precedente-genereM" type="button"(click)="searchTypeUtils.paginaPrecedente(SearchType.GenereModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.GenereModifica).paginaCorrente === 0">Indietro</button>
          <span>Pagina {{ searchTypeUtils.getSearchData(SearchType.GenereModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SearchType.GenereModifica).totalePagine }}</span>
          <button id="successivo-genereM"  type="button"(click)="searchTypeUtils.paginaSuccessiva(SearchType.GenereModifica)" [disabled]="searchTypeUtils.getSearchData(SearchType.GenereModifica).paginaCorrente >= searchTypeUtils.getSearchData(SearchType.GenereModifica).totalePagine - 1">Avanti</button>
        </div>
        <div class="selected-list">
          <span *ngFor="let genre of filmSelezionatoModificato.generes">
            <button id="rimuovi-genereM" type="button"(click)="rimuoviElemento(genre, SearchType.GenereModifica); abilitaModifiche()" >
              {{ genre.genere }} <b>X</b>
            </button>
          </span>
        </div>
      </div>

      <button id="modificaMilm"class="edit-button" 
        type="button"
              [disabled]="!modificheAbilitate" 
              (click)="modificaFilm()">
        Modifica
      </button>
      <button id="annullaModifiche" class="cancel-button" 
      type="button"
              [disabled]="!modificheAbilitate" 
              (click)="annullaModifiche()">
        Annulla Modifica
      </button>
      <button id="eliminaFilm" typeclass="delete-button" 
      type="button"
              (click)="eliminaFilm()">
        Elimina
      </button>
    </form>
  </div>
</div>