<div class="admin-genere-container">
    <!-- Sezione Creazione -->
    <div class="section create-section">
      <h2>Crea Nuovo Genere</h2>
      <form (ngSubmit)="creaGenere()">
        <label for="genere">Genere:</label>
        <input type="text" id="genere" [(ngModel)]="nuovoGenere.genere" name="genere" required />
  
        
  
        <button type="submit" class="create-button">Crea</button>
      </form>
    </div>
  
    <!-- Sezione Ricerca e Dettagli -->
    <div class="section search-section">
      <h2>Cerca Genere</h2>
      <input type="text" placeholder="Cerca genere" [(ngModel)]="searchTypeUtils.getSearchData(SerachType.GenereModifica).termine"   />
      <button (click)="searchTypeUtils.eseguiRicerca(SerachType.GenereModifica)">Cerca</button>
      <button (click)="searchTypeUtils.resettaRicerca(SerachType.GenereModifica)">Reset</button>
      <!-- Loading indicator -->

      <ul *ngIf="searchTypeUtils.getSearchData(SerachType.GenereModifica).risultati.length > 0">
        <li *ngFor="let genere of searchTypeUtils.getSearchData(SerachType.GenereModifica).risultati" (click)="selezionaGenere(genere)">
          > {{ genere.genere }} 
        </li>
      </ul>
            <!-- Sezione Paginazione -->
    <div class="pagination">
      <button (click)="searchTypeUtils.paginaPrecedente(SerachType.GenereModifica)" [disabled]="searchTypeUtils.getSearchData(SerachType.GenereModifica).paginaCorrente === 0">Indietro</button>
      <span>Pagina {{ searchTypeUtils.getSearchData(SerachType.GenereModifica).paginaCorrente + 1 }} di {{ searchTypeUtils.getSearchData(SerachType.GenereModifica).totalePagine }}</span>
      <button (click)="searchTypeUtils.paginaSuccessiva(SerachType.GenereModifica)" [disabled]="searchTypeUtils.getSearchData(SerachType.GenereModifica).paginaCorrente >= searchTypeUtils.getSearchData(SerachType.GenereModifica).totalePagine - 1">Avanti</button>
    </div>
      <!-- Dettagli Genere Selezionato -->
<div *ngIf="genereSelezionatoModificato" class="details-section">
    <h3>Dettagli Genere</h3>
    <label for="genere">Nome:</label>
    <input
      type="text"
      id="genere"
      [(ngModel)]="genereSelezionatoModificato.genere"
      (input)="abilitaModifiche()"
    />
  
    
  
    <button class="edit-button" [disabled]="!modificheAbilitate" (click)="modificaGenere()">
      Modifica
    </button>
    <button class="cancel-button" [disabled]="!modificheAbilitate" (click)="annullaModifiche()">
      Annulla Modifica
    </button>
    <button class="delete-button" (click)="eliminaGenere()">
      Elimina
    </button>
  </div>
  
  </div>
</div>