<div class="ordini-container">
    <h2>Tutti gli Ordini</h2>
    <div *ngIf="ordini.length>0">

    
      <div *ngFor="let ordine of ordini" class="ordine">
        <p><strong>Codice Ordine:</strong> {{ ordine.id }}</p>
        <p><strong>Data:</strong> {{ ordine.data | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Stato:</strong> {{ ordine.stato }}</p>
        <p><strong>Totale:</strong> {{ ordine.totale | currency: 'EUR' }}</p>
        <p><strong>Biglietti:</strong> </p>
        <ul>
          <li *ngFor="let biglietto of ordine.bigliettos">
            {{bigliettoToString(biglietto)}}
          </li>
        </ul>
        <hr>
      </div>
  
      <div class="pagination">
        <button id="precedente" type="button" (click)="paginaPrecedente()" [disabled]="paginaCorrente === 0">Indietro</button>
        <span class="pagina-info">Pagina {{ paginaCorrente + 1 }} di {{ totalePagine }}</span>
        <button id="successivo" type="button" (click)="paginaSuccessiva()" [disabled]="paginaCorrente >= totalePagine - 1">Avanti</button>
      </div>
    </div>
    <div *ngIf="ordini.length===0" class="ordine">
      <p>Non ci sono ordini.</p>
    </div>
  </div>
  
  