/* You can add global styles to this file, and also import other style files */
/* Sfondo esterno per tutta la pagina */
body {
    background-color: #121212; /* Grigio antracite scuro */
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  