<div class="checkout-container">
    <h2>Pagamento</h2>
  
    <!-- Sezione per visualizzare gli oggetti in acquisto -->
    
  
    <form (ngSubmit)="submitPayment()">
      <!-- Campo per il nome dell'intestatario -->
      <label for="proprietarioCarta">Nome Intestatario</label>
      <input 
        type="text" 
        id="proprietarioCarta" 
        name="proprietarioCarta" 
        [(ngModel)]="proprietarioCarta" 
        required 
      />
      
      <!-- Campo per il numero della carta -->
      <label for="numeroCarta">Numero della Carta</label>
      <input 
        type="text" 
        id="numeroCarta" 
        name="numeroCarta" 
        [(ngModel)]="numeroCarta" 
        required 
        maxlength="19" 
        placeholder="1234 1234 1234 1234" 
      />
  
      <!-- Campo per la data di scadenza -->
      <label for="dataScadenza">Data di Scadenza</label>
      <input 
        type="text" 
        id="dataScadenza" 
        name="dataScadenza" 
        [(ngModel)]="dataScadenza" 
        required 
        placeholder="MM/AA" 
        maxlength="5" 
      />
  
      <!-- Campo per il CVV -->
      <label for="cvv">CVV</label>
      <input 
        type="text" 
        id="cvv" 
        name="cvv" 
        [(ngModel)]="cvv" 
        required 
        maxlength="3" 
        placeholder="123" 
        
      />
  
      <!-- Campo per l'importo totale (di sola lettura) -->
      <label>Totale da Pagare</label>
      <div>{{ totale | currency: 'EUR' }}</div>
      <div class="items-container">
        <h3>Stai compando:</h3>
        <ul>
          <li *ngFor="let posto of postiPerFilaUtils.toPostiSpettacoloDto()">
          {{ posto.fila }} - {{ posto.sedile }} - {{ prenotazione?.postiSpettacoloResponseDto?.spettacoloSenzaFilmTagsDto?.prezzo | currency:"€" }}
          </li>
        </ul>
      </div>
      <!-- Pulsante per il pagamento -->
      <button type="submit" class="pay-button">Paga</button>
    </form>
  </div>
  