.checkout-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    color: black    ;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  h3 {
    color: #333;
  }
  
  .items-container {
    margin-bottom: 20px;
  }
  
  
  
  li {
    margin: 5px 0;
    color: #555;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
    font-size: 14px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .pay-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .pay-button:hover {
    background-color: #0056b3;
  }
  
  